@model OcrMvp.Models.PolicyInfo

<link href="~/content/styles.css" rel="stylesheet" />

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>surpris - Free CSS Template by ZyPOP</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="header">
            <h1><a href="/">Sasty </a></h1>
            <h2>Your website slogan here</h2>
            <div class="clear"></div>
        </div>
        <div id="nav">
            <ul>
                <li class="selected"><a href="index.html">Personal</a></li>
            </ul>
        </div>
        <div id="body">
            <div id="content">
                <h1>Personal</h1>
                <div class="box">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Index">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="PolicyNumber" class="control-label"></label>
                                    <input asp-for="PolicyNumber" class="form-control" />
                                    <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Search" class="btn btn-default" />
                                </div>
                            </form>
                            <div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdNumber" class="control-label"></label>
                                <input asp-for="IdNumber" class="form-control" />
                                <span asp-validation-for="IdNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nationality" class="control-label"></label>
                                <input asp-for="Nationality" class="form-control" />
                                <span asp-validation-for="Nationality" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" class="form-control" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label>
                                <input asp-for="Gender" class="form-control" />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaritalStatus" class="control-label"></label>
                                <input asp-for="MaritalStatus" class="form-control" />
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Mobile" class="control-label"></label>
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HomeNumber" class="control-label"></label>
                                <input asp-for="HomeNumber" class="form-control" />
                                <span asp-validation-for="HomeNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PlanName" class="control-label"></label>
                                <input asp-for="PlanName" class="form-control" />
                                <span asp-validation-for="PlanName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SumInsured" class="control-label"></label>
                                <input asp-for="SumInsured" class="form-control" />
                                <span asp-validation-for="SumInsured" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalPremiumPayable" class="control-label"></label>
                                <input asp-for="TotalPremiumPayable" class="form-control" />
                                <span asp-validation-for="TotalPremiumPayable" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PaymentMode" class="control-label"></label>
                                <input asp-for="PaymentMode" class="form-control" />
                                <span asp-validation-for="PaymentMode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PaymentMethod" class="control-label"></label>
                                <input asp-for="PaymentMethod" class="form-control" />
                                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InsuredSignedDate" class="control-label"></label>
                                <input asp-for="InsuredSignedDate" class="form-control" />
                                <span asp-validation-for="InsuredSignedDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RepresentativeSignedDate" class="control-label"></label>
                                <input asp-for="RepresentativeSignedDate" class="form-control" />
                                <span asp-validation-for="RepresentativeSignedDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RepresentativeName" class="control-label"></label>
                                <input asp-for="RepresentativeName" class="form-control" />
                                <span asp-validation-for="RepresentativeName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RepresentativeCode" class="control-label"></label>
                                <input asp-for="RepresentativeCode" class="form-control" />
                                <span asp-validation-for="RepresentativeCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <ul>
                    <li>
                        <h4><span>Navigate</span></h4>
                        <ul class="blocklist">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="examples.html">Examples</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </li>

                    <li>
                        <h4>About</h4>
                        <ul>
                            <li>
                                <p style="margin: 0;">Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu pretium luctus.</p>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h4>Search</h4>
                        <ul>
                            <li>
                                <form method="get" class="searchform" action="http://wpdemo.justfreetemplates.com/">
                                    <p>
                                        <input type="text" size="22" value="" name="s" class="s" />
                                        <input type="submit" class="searchsubmit formbutton" value="Search" />
                                    </p>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <h4>Sponsors</h4>
                        <ul>
                            <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates"><strong>ThemeForest</strong></a> - premium HTML templates, WordPress themes and PHP scripts</li>
                            <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting"><strong>Web hosting</strong></a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
                            <li><a href="http://www.4templates.com/?aff=spykawg" title="4templates"><strong>4templates</strong></a> - brilliant premium templates</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <div class="footer-content">

                <span class="sitename">sitename</span>
                <p class="footer-links">
                    <a href="index.html">Home</a>
                    <a href="examples.html">Examples</a>
                    <a href="#">Products</a>
                    <a href="#">Solutions</a>
                    <a href="#">Contact</a>
                    <a href="#container" class="backtotop">Back to top</a>
                </p>
            </div>
            <div class="footer-bottom">
                <p>&copy; YourSite 2010. <a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP</p>
            </div>

        </div>
    </div>
</body>
</html>


@*@model OcrMvp.Models.PolicyInfo

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <h4>PolicyInfo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PolicyNumber" class="control-label"></label>
                    <input asp-for="PolicyNumber" class="form-control" />
                    <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </form>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeNumber" class="control-label"></label>
                <input asp-for="HomeNumber" class="form-control" />
                <span asp-validation-for="HomeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SumInsured" class="control-label"></label>
                <input asp-for="SumInsured" class="form-control" />
                <span asp-validation-for="SumInsured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPremiumPayable" class="control-label"></label>
                <input asp-for="TotalPremiumPayable" class="form-control" />
                <span asp-validation-for="TotalPremiumPayable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMode" class="control-label"></label>
                <input asp-for="PaymentMode" class="form-control" />
                <span asp-validation-for="PaymentMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuredSignedDate" class="control-label"></label>
                <input asp-for="InsuredSignedDate" class="form-control" />
                <span asp-validation-for="InsuredSignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeSignedDate" class="control-label"></label>
                <input asp-for="RepresentativeSignedDate" class="form-control" />
                <span asp-validation-for="RepresentativeSignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeName" class="control-label"></label>
                <input asp-for="RepresentativeName" class="form-control" />
                <span asp-validation-for="RepresentativeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeCode" class="control-label"></label>
                <input asp-for="RepresentativeCode" class="form-control" />
                <span asp-validation-for="RepresentativeCode" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}