@model OcrMvp.Models.PolicyInfo


<div id="container">
    <div id="header">
        <h1><a href="/">#Hack30</a></h1>
        <h2 style="color:white">Together we make it happens</h2>
        <div><img src="~/images/sasty.jpg" style="float: right;width: 150px;height: 120px;margin-top: -12px;margin-right: -13px;" /></div>
        <div class="clear"></div>
    </div>
    <div id="nav">
        <ul>
            <li class="selected"><a href="index.html">Personal</a></li>
            <li><a href="#">Personal(Cont.)</a></li>
            <li><a href="#">Plan</a></li>
            <li><a href="#">Customer Due(FATCA/CRS)</a></li>
            <li><a href="#">Declar & Agent</a></li>
            <li><a href="#">Beneficiary & Others</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
    <div id="body">
        <div id="content">
            <h1>PERSONAL DETAILS</h1>
            <p>@Html.ValidationSummary(true)</p>
            <div class="box">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row form-group">
                                <div class="col-md-5">
                                    <label asp-for="PolicyNumber" class="control-label"></label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="PolicyNumber" class="form-control" />
                                    <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="Search" class="btn btn-success" />
                                </div>
                            </div>
                        </form>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="FullName" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="FullName" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="IdNumber" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="IdNumber" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="IdNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="Nationality" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Nationality" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="Nationality" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="DateOfBirth" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="Gender" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="Gender"
                                        asp-items="ViewBag.GenderList" class="form-control"></select>
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="Gender" class="text-danger"></span>
                                @if (Model != null && Model.Gender != null && Model.Gender == "")
                                {
                                    <span class="text-danger">!!!</span>
                                }
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="MaritalStatus" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="MaritalStatus"
                                        asp-items="ViewBag.MaritalStatusList" class="form-control"></select>
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                @if (Model != null && Model.MaritalStatus != null && (Model.MaritalStatus == "" || Model.MaritalStatus != "S" || Model.MaritalStatus != "M"))
                                {
                                    <span class="text-danger">!!!</span>
                                }
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="Address" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Address" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="Mobile" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Mobile" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="HomeNumber" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="HomeNumber" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="HomeNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="PlanName" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="PlanName" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="PlanName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="SumInsured" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="SumInsured" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="SumInsured" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="TotalPremiumPayable" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="TotalPremiumPayable" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="TotalPremiumPayable" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="PaymentMode" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="PaymentMode"
                                        asp-items="ViewBag.PaymentModeList" class="form-control"></select>
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="PaymentMode" class="text-danger"></span>
                                @if (Model != null && Model.PaymentMode != null && Model.PaymentMode == "")
                                {
                                    <span class="text-danger">!!!</span>
                                }
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="PaymentMethod" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="PaymentMethod"
                                        asp-items="ViewBag.PaymentMethodList" class="form-control"></select>
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                                @if (Model != null && Model.PaymentMethod != null && Model.PaymentMethod == "")
                                {
                                    <span class="text-danger">!!!</span>
                                }
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="InsuredSignedDate" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="InsuredSignedDate" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="InsuredSignedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="RepresentativeSignedDate" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="RepresentativeSignedDate" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="RepresentativeSignedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="RepresentativeName" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="RepresentativeName" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="RepresentativeName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-5">
                                <label asp-for="RepresentativeCode" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="RepresentativeCode" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <span asp-validation-for="RepresentativeCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <h4><span>Navigate</span></h4>
                    <ul class="blocklist">
                        <li><a href="index.html">Personal</a></li>
                        <li><a href="examples.html">Personal(Cont.)</a></li>
                        <li><a href="#">Plan</a></li>
                        <li><a href="#">Customer Due(FATCA/CRS)</a></li>
                        <li><a href="#">Declar & Agent</a></li>
                        <li><a href="#">Beneficiary & Others</a></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                </li>

                <li>
                    <h4>Search</h4>
                    <ul>
                        <li>
                            <form method="get" class="searchform" action="http://wpdemo.justfreetemplates.com/">
                                <p>
                                    <input type="text" size="22" value="" name="s" class="s" />
                                    <input type="submit" class="searchsubmit btn-success" value="Search" />
                                </p>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <div class="footer-content">
            <span class="sitename">Sasty</span>
            <p class="footer-links">
            </p>
        </div>
        <div class="footer-bottom">
            <p></p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}